---
---

<!DOCTYPE html>
<html class="">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.settings.seo.description }}">
  <meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
  <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">

  <title>{{ site.data.settings.title }}</title>

  <link rel="stylesheet" href="assets/css/all.css">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link href="//db.onlinewebfonts.com/c/887f16413b98db440947923079677c13?family=Thirteen+Pixel+Fonts" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/cae9571407321e5d5e496ada719e9f63?family=Pixel" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/76539b4ccd152e469e101c342d949073?family=LLPixel" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/9c0fb5eccdc1923406dc2a118549c6e2?family=Pixelboy" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/d3b7d885bc448829aae1e3875935fd90?family=B.M.+Pixel" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/5687fe87f19d34d8f2ec7d90578b95cc?family=Pixel" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/2b511e0f4550fe5ba4a9e815708955c6?family=Pixel+4x4" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/ef8541bb180f46553929ce5dab4eb5fc?family=Pixelette" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/398ca09356ef1367fa5558f424c67be9?family=Pixelates" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/58a82693098f46c116215306453230fa?family=Pixeldust" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/44c7b608272f865039d459a30f65539f?family=PixelDart" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/c3462b934d3bad231741d1188251bf88?family=nayupixel" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/2964c8aa368bd3d475436e914233944b?family=PixelSix00" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/72b6312f5dab4dfcdd334837431bd01a?family=PixelSix10" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/80c43bf43d1d5fb40ab804627a0ba2b9?family=PixelSix14" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/22b2c8b0cf1e166d98e77e5003cd6f12?family=Pixel+Caps" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/6b04f253e82b9936981d0c3732342b83?family=pixelpoiiz" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/893f7200edc24deefeb4e14fc13988bb?family=pixel-love" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/7ecbdfadd6764eefc447607333f4b107?family=Pixeliza20" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/f2a6385a65ed209f9db7aa2952208f2e?family=FettePixel" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/a62d86f6b8970d2aa05cecb159fba86f?family=cv+pixelado" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/6fb7d3f6b7f6eaa27bd4572b86bb9e13?family=Ice+Pixel7" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/b61b1d40ea72230d167c4e267aa0f06f?family=Old+Pixel-7" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/c6ed061390f1755a375a053a44977220?family=Pixel" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/24de0a8b2c66bec6015f5e1c34ac05f7?family=PixelPirate" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/d49b006637f2e11f77036dbb73e2cb0c?family=PixelScreen" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/0a33d170c03d771061d74c5124b652ff?family=Pixel+LCD7" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/142306556fb0248db1faed5e7fd33631?family=Pixel+Siggy" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/5c8b5ce31ec023c0fd0d7de257ea048a?family=Pixel+Twist" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/6e97cf500ee40669a9883ebec83e6fd7?family=Metrixpixel" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/ad5a8834b13b75e1aabe778c57380c96?family=Pixel+Power" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/6bd9a483ed4b2e1a29146b1e2f25e4f7?family=Long+Pixel-7" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/35669d40cbf6f50dbf175f6ec2812277?family=Common+Pixel" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/b158a63357ce6f6d3688ae97b06ea560?family=Mini+Pixel-7" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/5741c3981d9526b40796c7489ffbb7e6?family=Neon+Pixel-7" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/cd19963044a2cdfd41af3993ca83fa56?family=PixelFraktur" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/521e1199ecb9120febdbe466e4cb6c9d?family=Pixel" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/93f6b527b71f3602bca406d16c73b0e9?family=New+pixels" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/83734493cf1083816e0028464de7010b?family=Light+Pixel-7" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/5ab4160ca8b4dd044b692bb99e9702de?family=Pixelate+Bass" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/54c5135ece8471d909e2d79979de7d69?family=Blimpixels" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/54c5135ece8471d909e2d79979de7d69?family=Blimpixels" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/7eca6530ae0a8e74d23e779673a89630?family=PixelGameFont" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/0b9f83f87c9360f58ca068cae0342324?family=Serif+Pixel-7" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/9ec4eeb39843c7119e40840a859542aa?family=Square+Pixel7" rel="stylesheet" type="text/css"/>
  <link href="//db.onlinewebfonts.com/c/cbbbd3778fe829b251d676c62fbdae04?family=Double+Pixel-7" rel="stylesheet" type="text/css"/>






  {% include analytics.html %}
</head>
<body>

{% include header.html %}

{% include intro.html %}

{% include work.html %}


{% include upload.html %}

{% include return-rendering.html %}

{% include pixel-editor.html %}

{% include pixelfonts.html %}


{% include template-tutorial.html %}

{% include pricing.html %}

{% include startup.html %}

{% include crowdfunding.html %}

{% include contact.html %}

{% include form.html %}

{% include footer.html %}



<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="assets/js/functions.js"></script>
<script src="assets/js/phaser.js"></script> <!-- Pixel Editor -->
<script src="assets/js/gen_paint.js"></script> <!-- Pixel Editor -->
<link rel="stylesheet" type="text/css" href="assets/css/stylesheet.css">
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.12.min.js"></script>
</body>
</html>
