<!-- alternativ: <section class="intro"> -->
<section>

  <h3>Crazy Pixel Art - Introooo 123</h3>
 
  <div class="face-lockup">
  	
  	<div class="intro-img1"></div>
  	<div class="intro-img2"></div>
  	<div class="intro-img3"></div>
  </div>  

  <div class="face-lockup"> <!-- Style "face-lockup" -->
  
    <div class="blurb"> use a template <br>and your pixel graphic</div>
    <div class="blurb"> upload and pitimize <br>your design</div>
    <div class="blurb"> order your wall lamp <br>as a kit and assemble it</div>

  </div>

  <!-- Verbesserung align center, responsiv in css -->
  <div class="face-lockup"> <!-- Style "face-lockup" -->
  
    <iframe width="560" height="315" src="https://www.youtube.com/embed/qXf2SGIupv4" frameborder="0" allowfullscreen></iframe>

  </div> 




</section>