<section class="upload">

  <h2 >Pixel Art Maker</h2>

  <div class="box">
  	<div class="sub-box-upload">
  	  <h3>select</h3>
  	  	<p class="upload-function">upload </p>
		<p class="select-function">select </p>
		<p class="png-load">png </p>


  	</div>
 	<div class="sub-box-upload">
 	  <h3>check</h3>	

  	  	<p class="check-function">.png file</p>
		<p class="check-function"> size in pixel OK </p>
		<p class="check-function"> transparent pixel found</p>

 	</div>
 	<div class="sub-box-upload">
 		<h3>configure</h3>
 	  
		<p class="check-function">10 mm pixel - or -</p>
		<p class="check-function">30 mm pixel</p>
		<p class="check-function">enter value for the edge of the frame </p>
		<p class="check-function">enter your e-mail adress <br> mail@website.com</p>
		<p class="check-function"><strong>start</strong></p>



 	</div>
  </div>
  <h3>AWS SDK for JavaScript - Sample Application</h3>
  <div class="box2"> 
  	
  	
  	<div>
  		<input type="file" id="file-chooser" />
    	<button id="upload-button" class="myButton">Upload to S3</button>
    	<div id="results"></div>
    	<div id="fb-root"></div>
  		{{ .s3upload }}
  	</div>
  </div>


  
</section>